<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Data</li><!-- /.menu-title -->
                {{!-- <li>
                  <a href="/users"><i class="menu-icon fa fa-group"></i>Usuarios</a>
                </li> --}}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Usuarios</a>
                    <ul class="sub-menu children dropdown-menu"><li><i class="fa fa-puzzle-piece"></i><a href="/usersadmin">Sistema</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/usersregular">App</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/usersrepartidor">Repartidores</a></li>
                        
                    </ul>
                </li>
                <li>
                  <a href="/gigs"><i class="menu-icon fa fa-group"></i>Platos</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Restaurantes</a>
                    <ul class="sub-menu children dropdown-menu"><li><i class="fa fa-puzzle-piece"></i><a href="/restaurants">Restaurante</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/categories">Categorias</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Ordenes ({{ordersqty}})</a>
                    <ul class="sub-menu children dropdown-menu"><li><i class="fa fa-puzzle-piece"></i><a href="/ordersact">Activas</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="/ordersate">Atendidas</a></li>
                    </ul>
                </li>
                
                {{!-- <li><a href="/restaurants"><i class="menu-icon fa fa-cutlery"></i>Restaurants</a></li> --}}


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
